.listed-location {
  margin: 20px auto;
  width: 80%;

  .listed-location__heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .listed-location__block1 {
    border: 2px solid black;

    .listed-location__block2 {
      width: 100%;

      .listed-location__list {
        .listed-location__search {
          padding-left: 20px;
        }
        .listed-location__title {
          font-weight: bold;
          padding-left: 50px;
        }
      }
    }
  }
}

@media (min-width: 320px) {
  .listed-location {
    width: 80%;

    .listed-location__heading {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .listed-location__block1 {
      border: 2px solid black;

      .listed-location__block2 {
        width: 100%;

        .listed-location__list {
          a {
            text-decoration: none;
            .listed-location__search {
              padding-left: 5px;
              font-size: 16px;
            }
            .listed-location__number {
              font-size: 16px;
            }
            .listed-location__title {
              font-size: 16px;
              font-weight: bold;
              padding-left: 5px;
            }
          }
        }
      }
    }
  }
}
