.results {
  width: 80%;

  .results__element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 5px;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .image-block {
        width: 40%;
      }

      .container-info {
        margin-left: 10px;
        width: 60%;

        .container-info__heading-title {
          margin-bottom: 15px;
          font-size: 30px;
          font-weight: bold;
        }

        .container-info__heading-price {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.pagination {
  display: flex;
  flex-direction: row;
  margin: 20px 0;

  .page-class-name, .break-me, .previousClassName, .nextClassName {
    margin: 0 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    color: rgb(30, 108, 210);
     
    a {
      text-decoration: none;
      padding: 10px;
     }
  }

  li:hover {
    background: rgb(241, 238, 238);
    margin: 0 10px;
    cursor: pointer;
    color: rgb(30, 108, 210);
  }
  
  .active {
    font-weight: bold;
  }
}

@media (max-width: 660px) {
  .pagination {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
  
    .page-class-name, .break-me, .previousClassName, .nextClassName {
      margin: 0 5px;
      padding: 5px;
      border: 1px solid gray;
      border-radius: 5px;
      color: rgb(30, 108, 210);
       
      a {
        text-decoration: none;
        padding: 5px;
       }
    }
  
    li:hover {
      background: rgb(241, 238, 238);
      margin: 0 5px;
      cursor: pointer;
      color: rgb(30, 108, 210);
    }
    
    .active {
      font-weight: bold;
    }
  }
  .results .results__element .container {
    .image-block {
      width: 80%;
      .image-block__image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .container-info {
    margin-top: 20px;

    .container-info__heading-price {
      font-size: 20px;
    }
  }
}

@media (max-width: 400px) {

  .pagination {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
  
    .page-class-name, .break-me, .previousClassName, .nextClassName {
      margin: 0 3px;
      padding: 3px;
      border: 1px solid gray;
      border-radius: 3px;
      color: rgb(30, 108, 210);
       
      a {
        text-decoration: none;
        padding: 3px;
       }
    }
  
    li:hover {
      background: rgb(241, 238, 238);
      margin: 0 3px;
      cursor: pointer;
      color: rgb(30, 108, 210);
    }
    
    .active {
      font-weight: bold;
    }
  }
}