main {
  margin-top: 40px;

  p {
    margin: 0 20px 0;
    text-align: center;
  }

  div {
    margin: 20px auto 0;
    width: 300px;

    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}
