.recent-searches {
  margin: 20px auto;
  width: 80%;

  .recent-searches__heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px; 
  }

  .recent-searches__block1 {
    border: 2px solid black;

    .recent-searches__block2 {
      width: 100%;
      
      .recent-searches__list {
        .recent-searches__search {
          padding-left: 20px;
        }
        .recent-searches__title {
          font-weight: bold;
          padding-left: 50px;
        }
      }
    }
  }
}